@model MorMorsBageruMVC.Models.LeverantörRåvara

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Koppling – Leverantör & Råvara</h1>

<table class="table">
    <tr>
        <th>Leverantör</th>
        <td>@Model.Leverantör?.Namn</td>
    </tr>
    <tr>
        <th>Råvara</th>
        <td>@Model.Råvara?.Namn</td>
    </tr>
</table>

<a asp-action="Delete" asp-route-leverantörId="@Model.LeverantörId" asp-route-råvaraId="@Model.RåvaraId"
    class="btn btn-danger">Ta bort</a>
<a asp-action="Index" class="btn btn-secondary">Tillbaka</a>