@model MorMorsBageruMVC.Models.Produkt

@{
    ViewData["Title"] = "Ta bort Produkt";
}

<h1>Ta bort Produkt</h1>

<h4>@Model.Namn</h4>
<p>Kategori: @Model.Kategori</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProduktId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>