@model MorMorsBageruMVC.Models.Lager

@{
    ViewData["Title"] = "Ta bort Lagerpost";
}

<h1>Ta bort Lagerpost</h1>

<h4>Råvara: @Model.Råvara?.Namn</h4>
<h4>Mängd: @Model.MängdKg kg</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="RåvaraId" />
    <button class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>