@model MorMorsBageruMVC.Models.Lager

@{
    ViewData["Title"] = "Redigera Lager";
}

<h1>Redigera Lager</h1>

<form asp-action="Edit">

    <input type="hidden" asp-for="RåvaraId" />

    <div class="form-group">
        <label>Mängd (kg)</label>
        <input asp-for="MängdKg" class="form-control" />
    </div>

    <button class="btn btn-primary">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
</form>