@model MorMorsBageruMVC.Models.Leverantör

@{
    ViewData["Title"] = "Skapa Leverantör";
}

<h1>Skapa Leverantör</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Namn</label>
        <input asp-for="Namn" class="form-control" />
    </div>

    <div class="form-group">
        <label>Adress</label>
        <input asp-for="Adress" class="form-control" />
    </div>

    <div class="form-group">
        <label>Kontaktperson</label>
        <input asp-for="Kontaktperson" class="form-control" />
    </div>

    <div class="form-group">
        <label>Telefon</label>
        <input asp-for="Telefon" class="form-control" />
    </div>

    <div class="form-group">
        <label>Epost</label>
        <input asp-for="Epost" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
</form>