@model MorMorsBageruMVC.Models.Leverantör

@{
    ViewData["Title"] = "Ta bort Leverantör";
}

<h1>Ta bort Leverantör</h1>

<h3>Är du säker att du vill ta bort denna?</h3>

<div>
    <h4>@Model.Namn</h4>
    <p>@Model.Adress</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="LeverantörId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>
