@model MorMorsBageruMVC.Models.Råvara

@{
    ViewData["Title"] = "Ta bort råvara";
}

<h1>Ta bort Råvara</h1>

<h4>Artikelnummer: @Model.Artikelnummer</h4>
<h4>Namn: @Model.Namn</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="RåvaraId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>