@model MorMorsBageruMVC.Models.Recept

@{
    ViewData["Title"] = "Skapa Recept";
}

<h1>Skapa Recept</h1>

<form asp-action="Create">

    <div class="form-group">
        <label>Produkt ID</label>
        <input asp-for="ProduktId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>

</form>