@model MorMorsBageruMVC.Models.Recept

@{
    ViewData["Title"] = "Ta bort Recept";
}

<h1>Ta bort Recept</h1>

<h4>Produkt: @Model.Produkt?.Namn</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="ReceptId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>