@model MorMorsBageruMVC.Models.InköpsRad

@{
    ViewData["Title"] = "Skapa InköpsRad";
}

<h1>Lägg till Inköps-rad</h1>

<form asp-action="Create">

    <div class="form-group">
        <label>Inköp ID</label>
        <input asp-for="InköpId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Råvara ID</label>
        <input asp-for="RåvaraId" class="form-control" />
    </div>

    <div class="form-group">
        <label>Mängd (kg)</label>
        <input asp-for="MängdKg" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pris per kg</label>
        <input asp-for="PrisPerKg" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>

</form>