@model MorMorsBageruMVC.Models.InköpsRad

@{
    ViewData["Title"] = "Ta bort InköpsRad";
}

<h1>Ta bort Inköps-rad</h1>

<h4>Inköp: @Model.Inköp?.Datum.ToShortDateString() (@Model.InköpId)</h4>
<h4>Råvara: @Model.Råvara?.Namn</h4>
<h4>Mängd: @Model.MängdKg kg</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="InköpId" />
    <input type="hidden" asp-for="RåvaraId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>