@model MorMorsBageruMVC.Models.InköpsRad

@{
    ViewData["Title"] = "Redigera InköpsRad";
}

<h1>Redigera Inköps-rad</h1>

<form asp-action="Edit">

    <input type="hidden" asp-for="InköpId" />
    <input type="hidden" asp-for="RåvaraId" />

    <div class="form-group">
        <label>Mängd (kg)</label>
        <input asp-for="MängdKg" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pris per kg</label>
        <input asp-for="PrisPerKg" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>

</form>