@model MorMorsBageruMVC.Models.Inköp

@{
    ViewData["Title"] = "Skapa Inköp";
}

<h1>Skapa Inköp</h1>

<form asp-action="Create">

    <div class="form-group">
        <label>Datum</label>
        <input asp-for="Datum" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label>Leverantör ID</label>
        <input asp-for="LeverantörId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>

</form>