@model MorMorsBageruMVC.Models.Inköp

@{
    ViewData["Title"] = "Ta bort Inköp";
}

<h1>Ta bort Inköp</h1>

<h4>Datum: @Model.Datum.ToShortDateString()</h4>
<h4>Leverantör: @Model.Leverantör?.Namn</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="InköpId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>