@model MorMorsBageruMVC.Models.ReceptRad

@{
    ViewData["Title"] = "Ta bort ReceptRad";
}

<h1>Ta bort Recept-rad</h1>

<h4>Recept ID: @Model.ReceptId</h4>
<h4>Råvara: @Model.Råvara.Namn</h4>
<h4>Mängd: @Model.MängdKg kg</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="ReceptId" />
    <input type="hidden" asp-for="RåvaraId" />
    <button type="submit" class="btn btn-danger">Ta bort</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>